<div id="footer">
 <div class="container">
   <div class="row col-sm-12">
      <div class="footer">
        <div class="contact">
          <p>
            Matthew Fieger<br />
            fieger.matthew@gmail.com <a href="{{ site.url }}/pgp.html">(PGP)</a><br />
          </p>
        </div>
        <div class="links">
          <p>
            <a href="https://github.com/matthewfieger">github.com/matthewfieger</a><br />
            <a href="https://twitter.com/matthewfieger">twitter.com/matthewfieger</a><br />
            <a href="http://www.linkedin.com/in/matthewfieger">linkedin.com/in/matthewfieger</a><br />
          </p>
        </div>
      </div>
    </div>
  </div>
</div>