<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>
    Matthew Fieger{% if page.title %} | {{ page.title }}{% endif %}
    </title>

    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Personal Website and Blog">
    <meta name="author" content="Matthew Fieger, Matt Fieger">
    <meta name="robots" content="{% if page.title != 'Home' %}noindex, {% endif %}nofollow">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ site.url }}/assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/syntax.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">

    <!-- Javascripts -->
    <script type="text/javascript" src="{{ site.url }}/assets/js/jquery/jquery-1.10.2.min.js"> </script>
    <script type="text/javascript" src="{{ site.url }}/assets/js/bootstrap/bootstrap.min.js"> </script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

   {% include analytics.html %}

</head>