<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.url }}">{{ site.name }}</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li {% if page.url == '/about.html' %}class="active"{% endif %}><a href="{{ site.url }}/about.html">About</a></li>
        <li {% if page.url == '/links.html' %}class="active"{% endif %}><a href="{{ site.url }}/links.html">Links</a></li>
        <li {% if page.url == '/quotes.html' %}class="active"{% endif %}><a href="{{ site.url }}/quotes.html">Quotes</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</div>