/*

@brand-primary: #003366;
@brand-success: #336666;
@brand-info:    #669966;
@brand-warning: #ffcc33;
@brand-danger:  #990000;

*/


/*****************************************************************************/
/*
/* Body, Typography
/*
/*****************************************************************************/

html, body {
  height: 100%;
}

body {
  background-color: #FFF;
  font-size: small;
}

.post a {
color: #036;
text-decoration: underline;
}


/*****************************************************************************/
/*
/* Wrapper for page content to push down footer
/*
/*****************************************************************************/

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -150px;
  /* Pad bottom by at least footer height */
  padding: 0 0 175px;
}



/*****************************************************************************/
/*
/* Container
/*
/*****************************************************************************/

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/*****************************************************************************/
/*
/* Navbar
/*
/*****************************************************************************/

@media (min-width: 768px) {
  .navbar {
    margin-top: 20px;
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
  }
}

.navbar-default {
	background-color: #990000;
	border-color: #e7e7e7;
	color: white;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: black;
	background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: black;
	background-color: #ffcc33;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

/*****************************************************************************/
/*
/* Index.html
/*
/*****************************************************************************/

/* truncate text for post lists */
.list-group-item {
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}


/*****************************************************************************/
/*
/* About.html
/*
/*****************************************************************************/

/* truncate text for post lists */
.well {
overflow: hidden;
text-overflow: ellipsis;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/




/*****************************************************************************/
/*
/* Block quotes
/*
/*****************************************************************************/

 /* Override Bootstrap block quote styling */
  blockquote {
    padding: 0 0;
    margin: 0 0 10px;
    font-size: small;
    border-left: none;
    }

 /* Split block quotes by paragraph */
  blockquote p {
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    background-color: #f4f8fa;
    border-left: 1px solid #ccc;

  }

  /* Make nested blockquotes behave. */
  blockquote blockquote {
    margin-left: 0;
    padding-left: 20px;
  }



/*****************************************************************************/
/*
/* Quotes.html
/*
/*****************************************************************************/


.quote-row {
  margin: 20px 0 20px 0;
}

.quote-text {
    border-left: 3px solid;
    margin: 10px 0px 10px 0px;
    padding: 10px 10px 10px 10px;
    background-color: #f4f8fa;
    border-color: #d9534f;
}

.quote-source {
  font-weight: bold;
  margin: -10px 0px 10px 0px;
  padding: 5px 5px 5px 20px;
  background-color: #fdf7f7;
  color: #d9534f;
  border-left: 3px solid;
  border-color: #d9534f;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
  background-color: #336666;
}

/*****************************************************************************/
/*
/* Footer.html
/*
/*****************************************************************************/


#footer {
  height: 150px; /* Set the fixed height of the footer here */
}

.footer {
  font-size: 90%;
  color: #777;
  border-top: 1px solid #e5e5e5;
  padding-top: 2em;
}

/* Large screens */
@media (min-width: 768px) {

	.footer .contact {
	  float: left;
	}

	.footer .links {
	  float: right;
	}
}

/* Center text on small screens */
@media (max-width: 768px) {

	.footer {
	  text-align: center;
	}
}