/*****************************************************************************/
/*
/* Body
/*
/*****************************************************************************/

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #FFF;
  font-size: small;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}



/*****************************************************************************/
/*
/* Container
/*
/*****************************************************************************/

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Block quotes
/*
/*****************************************************************************/

 /* Override Bootstrap block quote styling */
  blockquote {
    padding: 0 0;
    margin: 0 0 10px;
    font-size: small;
    border-left: none;
    }

 /* Split block quotes by paragraph */
  blockquote p {
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    background-color: #f4f8fa;
    border-left: 1px solid #ccc;
  }

  /* Make nested blockquotes behave. */
  blockquote blockquote {
    margin-left: 0;
    padding-left: 20px;
  }

/*****************************************************************************/
/*
/* ../quotes.html
/*
/*****************************************************************************/


.quote-row {
  margin: 20px 0 20px 0;
}

.quote-text {
    border-left: 3px solid;
    margin: 10px 0px 10px 0px;
    padding: 10px 10px 10px 10px;
    background-color: #f4f8fa;
    border-color: #d9534f;
}

.quote-source {
  font-weight: bold;
  margin: -10px 0px 10px 0px;
  padding: 5px 5px 5px 20px;
  background-color: #fdf7f7;
  color: #d9534f;
  border-left: 3px solid;
  border-color: #d9534f;
}



/*****************************************************************************/
/*
/* ../_includes/footer.html
/*
/*****************************************************************************/

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .links {
  float: right;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}