/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #0f2030; }
a:hover   { color: #000; }
a:visited { color: #13293c; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #7a1e1e;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .links {
  float: right;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}


/*****************************************************************************/
/*
/* Blockquotes - Aaron Schwartz
/*
/*****************************************************************************/

  blockquote { 
    width: 470px; 
    margin-left: 20px; 
    padding-left: 10px;
    border-left: 1px solid #ccc;
    color: #222;
    /* This is the quote mark in the left corner (also, the only image
    in this theme). Remove if you don't want it. */
    /*background: url(http://static.tumblr.com/sajzoro/2pUkqr1t1/aster.png) 
      top left no-repeat; */
    margin-top: 0; 
  }

  /* Make nested blockquotes behave. */
  blockquote blockquote { margin-left: 0; }
  /* ems in blockquotes look like normal text. Could be confusing; should work
     fine unless there is a giant em block at the end of the blockquote, or
     worse, making up the whole blockquote. Remove if you don't want to take
     that risk, but instead suffer from a lack of distinguished emphasis in
     blockquotes. */
  blockquote em { font-style: normal; }
  blockquote ul, blockquote ol { padding-left: 2em; }

.quotes {
  font-size: smaller;
  width: 500px;
  margin-left: 20px;
}

.quotes p {
    border-left: 1px solid #ccc;
    padding-left: 10px;
}
.quotes-source {
  float: right;
  font-weight: bold;
}

#refresh-small {
  display: none;
}



/*****************************************************************************/
/*
/* Labals - Bootstrap
/*
/*****************************************************************************/

.label-default {
	background-color: #999;
}

.label-primary {
  background-color: #428bca;
}

.label-success {
  background-color: #5cb85c;
}

.label-info {
  background-color: #5bc0de;
}

.label-warning {
  background-color: #f0ad4e;
}

.label-danger {
  background-color: #d9534f;
}

.label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}


/*****************************************************************************/
/*
/* Button - Bootstrap
/*
/*****************************************************************************/

.btn-xs {
  padding: 1px 5px;
  font-size: 8px;
  line-height: 1.5;
  border-radius: 3px;
  margin-left: 5px;
}
.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn {
  display: inline-block;
  /* padding: 6px 12px; */
  margin-bottom: 0;
  /* font-size: 14px; */
  font-weight: normal;
  /* line-height: 1.428571429; */
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  /* border-radius: 4px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/*****************************************************************************/
/*
/* Responsive
/*
/*****************************************************************************/

@media (max-width: 480px) {

  .site {
    font-size: 100%;
    text-align: center;
    width: 90%;
    margin-left: 1em;
    margin-right: 0;
    padding-right: 0;
    line-height: 1.5em;
  }

  #home {
    text-align: left;
    white-space: nowrap;
  }

  blockquote { 
    width: 100%; 
    margin-left: 0; 
    padding-left: 1em;
  }

  /* Make nested blockquotes behave. */
  blockquote blockquote { margin-left: 0; }
  /* ems in blockquotes look like normal text. Could be confusing; should work
     fine unless there is a giant em block at the end of the blockquote, or
     worse, making up the whole blockquote. Remove if you don't want to take
     that risk, but instead suffer from a lack of distinguished emphasis in
     blockquotes. */
  blockquote em { font-style: normal; }
  blockquote ul, blockquote ol { padding-left: 2em; }

  .quotes {
    font-size: smaller;
    width: 100%;
    margin-left: 1em;
  }

  .quotes-source {
    float: none;
  }

  .footer .contact {
    float: none;
    margin-right: inherit;
  }

  .footer .links {
    float: none;
  }

}